.back{
    background: url(image/h1_hero2.jpg.webp) no-repeat;
    background-size: cover;
}

.color1{
    color: #7ea0ff;
}

.back1{
    background-color: rgba(126, 160, 255, 0.05);
}

.color2{
    color: rgb(0, 9, 94);
}

.cardimagehover img{
    height: 250px;
    object-fit: cover;
    transition: transform 0.7s ease;
    transform-origin: center center;
}

.cardimagehover:hover img{
    transform: scale(1.1);
}

.cardimagehover{
    overflow: hidden;
}